/* misc */

.sale {
	color: red !important;
}

a {
	cursor: pointer;
}

nav {
	letter-spacing: 1px;
}

/* header */
header {
	font-family: 'Lato', sans-serif;
}

header .top {
	height: 50px;
	font-size: 11px;
	color: gray;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid lightgray;
	letter-spacing: 1px;
}


header .top .list {
	display: inline-block;
	padding: 0;
}

header .top .list li {
    display: inline-block;
    margin: 0 15px 0 20px;
    padding-top: 20px;
    padding-bottom: 14px;
}

header .top .curr-lang {
	display: inline-block;
	float: right;
}

header .top .curr-lang li {
    display: inline-block;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 14px;
}

header .top .curr-lang li:nth-child(1){
	border-right: 1px solid lightgray;
	padding-right: 15px;
}

header .top .curr-lang li i {
	font-size: 10px;
	margin-left: 15px;
}

header .mid {
	height: 100px;
	border-bottom: 1px solid lightgray;
}

header .mid .branding {
	padding-top: 13px;
}

header .mid .branding a{
	color: black;
	font-size: 52px;
	text-decoration: none;
}

header .mid .branding  a span{
	font-size: 32px;
}

header .mid nav {
	margin-top: 44px;
	text-align: center;
}

header .mid nav a {
	padding-bottom: 8px;
	margin: 0 4%;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
	color: gray;
	font-size: 12px;
	font-weight: bold;
}

header .mid nav a:hover {
	color: black;
	border-bottom: 2px solid #1274d3;
}

header .mid .cart {
	margin-top: 43px;
	text-align: right;
}

header .mid .cart a {
	padding-bottom: 8px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
	color: gray;
	font-size: 12px;
	font-weight: bold;
}

header .cart a span {
    padding: 15px 20px;
    margin: 0 15px;
    border-radius: 50%;
	transition: .2s ease;
	border: 2px solid white;
}

header .mid .cart a span:hover {
	border: 2px solid #1274d3;
	}

header .mid .searchico {
	background-image: url(http://www.newdesignfile.com/postpic/2012/12/search-icon-clip-art_249187.png);
    background-size: contain;
    height: 15px;
    width: 15px;
    display: inline-block !important;
    background-repeat: no-repeat;
}

/* main */

main h1 {
	font-family: 'Playfair Display', serif;
	width: 100%;
	text-align: center;
	margin-top: 100px;
	font-size: 58px;
}

main .cats {
	text-align: center;
	margin-top: 45px;
	margin-bottom: 40px;
}

main .cats a{
	padding-bottom: 8px;
	margin: 0 25px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
	color: gray;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
}

main .cats a:hover {
	color: black;
	border-bottom: 2px solid #1274d3;
}

main .products{
	margin-top: 40px;
}

main .products .product {
	text-align: center;
	position: relative;
	cursor: pointer;
}

main .products .product .prodname{
	font-family: 'Playfair Display', serif;
	margin-top: 30px;
	letter-spacing: 1px;
}

main .products .product .sale {
	margin-left: 10px;
}

main .products .product .new-product {
	width: 48px;
	height: 25px;
	position: absolute;
	background-color: #1274d3;
	border-radius: 12.5px;
	top: 27px;
	left: 40px;
	line-height: 26px;
    color: white;
	font-size: 12px;
}

.loadmore {
	width: 100%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.loadmore a{
	padding-bottom: 8px;
	margin: 0 4%;
	text-transform: uppercase;
	text-decoration: none;
	color: gray;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	transition: .2s ease-in-out;
	padding: 15px 25px;
}

.loadmore a:hover {
    background-color: #1274d3;
    color: white;
    border-radius: 55px;
}

/* Subscription form */

#subscription {
	background-color: #1274d3;
	background-image: url('imgs/sc-bg.png');
	height: 287px;
	color: white;
	text-align: center;
	background-size: cover;
}

#subscription p {
	color: #333333;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 70px;
}

#subscription h1 {
	font-family: 'Playfair Display', serif;
	font-size: 38px;
	margin-top: 30px;
	margin-bottom: 35px;
}

#subscription form {
    border: 1px solid white;
    padding: 11px;
    margin: 0 425px;
    border-radius: 25px;
}

#subscription .focused{
    box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.92);
}

#subscription .form-group input {
	background: none;
	border: none;
}

#subscription .form-group input:focus {
    outline: none;
}

#subscription .form-group button {
	background: none;
	border: none;
}

::-webkit-input-placeholder{
	color:white;
	}
::-moz-placeholder{
	color:white;
	}
:-moz-placeholder {
	color:white;
	}
:-ms-input-placeholder{
	color:white;
	}

/* footer */

footer {
	height: 100px;
	border-bottom: 1px solid lightgray;
}

footer .branding {
	padding-top: 13px;
}

footer .branding a{
	color: black;
	font-size: 52px;
	text-decoration: none;
}

footer .branding  a span{
	font-size: 32px;
}

footer nav {
	margin-top: 44px;
	text-align: center;
}

footer nav a {
	padding-bottom: 8px;
	margin: 0 4%;
	text-transform: uppercase;
	text-decoration: none;
	display: inline;
	color: black;
	font-size: 12px;
	font-weight: bold;
}

footer nav a:hover {
	color: black;
	border-bottom: 2px solid #1274d3;
	text-decoration: none;
}

footer p {
	    margin-top: 44px;
    font-size: 12px;
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
	letter-spacing: 1px;
}
